@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


/* font */
* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
body {
	background: #f2f2f2;
	font-family:"PT Sans","Arial", sans-serif;
}
.container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 10px 20px 5px #dbdbdb;
}
/* Header */
.main-header {
	height: 56px;
	font-size: 0;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ffffff;
}
.main-menu li {
	display: inline-block;
}
.main-menu li a {
	display: inline-block;
	padding: 0 70px;
	line-height: 56px;
	font-size: 16px;
	color: #000000;
} 

.main-menu li:nth-child(1),
.main-menu li:nth-child(2) {
	float: left;
}
.main-menu li:nth-child(4),
.main-menu li:nth-child(5) {
	float: right;
}
.main-logo {
	position: relative;
	padding-left: 45px;
}
.main-menu a:hover {
	color: #81b3d2;
}

/* Header */
/* promo section */
.promo-image {
	height: 508px;
}
.intro-text {
	height: 161px;
	padding-top: 55px ;
	text-align: center;
	text-transform: uppercase;
	background: #ffffff;
}
.intro-text b{
	display: block;
	width: 50%;
	margin: 0 auto;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}
.intro-text p {
	margin-top: 30px;
	font-size: 14px;
	line-height: 26px;
	color: #696969;
}
/* promo section */
/* features-section */
main {
	font-size: 0;
}
.facts {
	height: 256px;
	text-transform: uppercase;
	color: #ffffff;
	background: #81b3d2;
}
.facts-text {
	float: left;
	width: 290px;
	padding: 0px 55px;
	font-size: 14px;
	text-align: center;
}
.fact-title {
	width: 150px;
	margin: 0 auto;
	margin-top: 55px;
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
}
.fact-number {
	margin-top: 25px;
	margin-bottom: 25px;
}
.fact-number::before {
	content:'';
	position: relative;
	bottom: 5px;
	right: 3px;
	display: inline-block;
	width: 14px;
	height: 1px;
	background-color: #ffffff;
}
.fact-number::after {
	content:'';
	display: inline-block;
	position: relative;
	bottom: 5px;
	left: 3px;
	width: 14px;
	height: 1px;
	background-color: #ffffff;
}
.facts-image {
	float: left;
	width: 800px;
	height: 256px;
}
.facts-image:first-child {
	background: url('../img/long-image_2.jpg');
}
.facts-image:last-child {
	background: url('../img/long-image_1.jpg');
}
.features-item {
	float: left;
	width: 320px;
	padding: 75px 40px;
	text-transform: uppercase;
	background-color: #ffffff;
}
.features-image {
	width: 75px;
	height: 72px;
	margin: 0 auto;
}
.features-title {
	width: 120px;
	margin: 0 auto;
	margin-top: 25px;	
	margin-bottom: 25px;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	font-weight: bold;
}
.features-text {
	width: 80%;
	margin: 0 auto;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #696969;
}
.facts-line { 
	color: #000000;
	background-color: #eeeeee;
}
.facts-line .fact-title{
	font-weight: bold;
}
.facts-line .fact-number::before,
.facts-line .fact-number::after {
	background-color: #000000;
}
.facts-line .fact-thing {
	letter-spacing: 0.3px;
	color: #656565;
}
.form-caller {
	padding-top: 55px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ffffff;
}
.form-caller b {
	font-size: 30px;
	line-height: 24px;
}
.form-caller .instructions {
	margin-top: 30px;
	margin-bottom: 30px;
}
.instructions {
	font-size: 14px;
	line-height: 24px;
}
.big-button {
	display: block;
	width: 586px;
	height: 86px;	
	margin: 0 auto;
	font-size: 21px;
	line-height: 86px;
	text-align: center;
	color: #ffffff;
	background-color: #766357;
}
.map {
	height: 473px;
	background: url('../img/map.jpg');
}

/*footer*/
.main-footer {
	width: 1020px;
	min-height: 120px;
	padding:0 90px;
	background: #ffffff;
}
.footer-tag {
	float: left;
	width: 360px;
	font-size:21px;
	line-height: 120px;
	text-transform: uppercase;
}
.footer-social {
	float: left;
	width: 320px;
	line-height: 120px;
	text-align: center;
}
.footer-copyright {
  float: right;
	width: 320px;
	font-size: 14px;
	line-height: 120px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.academy-logo::after {
	content:'';
	position: relative;
	top: 16px;
	left: 10px;
	display: inline-block;
	width: 114px;
	height: 38px;
	background: url('../img/htmlacademylogo.png') no-repeat;
}
.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	line-height: 48px;
	color: #ffffff;
	background: #81b3d2;
}
/* search-form */
.search-form {
	position: absolute;
	display: none;
	width: 475px;
	height: 285px;
	margin-left: 307px;
	padding: 55px 55px;
	font-weight: bold;
	text-transform: uppercase;
	background: #ffffff;
}

.search-form label {
	margin-right: 15px;
	font-size: 14px;
	line-height: 26px;
}
.search-form .date-field {
	width: 331px;
	height: 38px;
	padding-left: 15px;
	margin-bottom: 29px;
	line-height: 38px;
	background-color: #f2f2f2;
	border: none;
	appearance: none;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	-ms-appearance: none;
}
.search-form .date-field::after {
	content:'';
	position: relative;
	right: 9px;
	display: inline-block;
	width: 21px;
	height: 22px;
	background: url('../img/dateicon.png');
}
.search-form input[type="number"] {
	display: inline-block;
	width: 54px;
	height: 38px;
	margin-right: 18px;
	margin-left: 18px;
	padding-left: 40px;
	line-height: 38px;
  	font-weight: bold;
	background: #f2f2f2;
	border: none;
	outline: none;
}
.adult::before{
	content: '';
	position: relative;
	bottom: 5px;
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url('../img/minus.png'), black;
}
.adult::after{
	content: '';
	position: relative;
	display: inline-block;
	width: 11px;
	height: 3px;
	background: url('../img/plus.png');
}
.search-btn {
	width: 458px;
	height: 58px;
	margin-top: 55px;
	font-size: 21px;
  line-height: 58px;
  font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: #81b3d2;
	outline: none;
	border: none;
}
/* sydona-hotels under this line */
.filters {
	padding: 12px 72px;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	background: url('../img/filters.jpg');
}
.filters-column-list {
	float: left;
	margin-right: 100px;
}
.filters h2 {
	font-size: 16px;
}
input[type="checkbox"]{
	display: none;
}
.filters-list li {
	margin: 20px 0;
}
.check-status::before {
content:'\2610';
position: relative;
top: 2px;
display: inline-block;
width: 21px;
height: 21px;
margin-right: 5px;
font-family: "symbols-sedona";
font-size: 20px;
text-align: center;
text-transform: none;
font-style: normal;
}
input[type="checkbox"]:checked + .check-status::before {
	content:'\2611';
}
/* ramge */
.range-filter {
	float: right;
	width: 328px;
	margin-top: 15px;
	font-size: 0px;
	text-align: center;
}
.range-filter h2 {
	margin-bottom: 10px;
	text-align: left;
}
.range-field {
	position: relative;
	width: 308px;
	height: 40px;
	padding: 10px 10px;
}
.range-field .scale {
	margin-top: 20px;
	height: 2px;
	background: #928381;
}
.bar {
	height: 2px;
	background: #ffffff;
}
.toogle {
	position: absolute;
	top: 20px;
	width: 4px;
	height: 5px;
	border: 8px solid white;
	background: #928381;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}
.max-toogle {
	left: 260px;
}
.price-log input {
	width: 152px;
	padding: 8px 0px;
	text-align: center;
	color: #ffffff;
	border: none;
	background: none;
	outline: none;
}
.price-log {
	width: 308px;
	height: 32px;
	margin-left: 10px;
	border: solid white 2px;
	border-radius: 3%;
}
.show-result {
	margin-bottom: 10px;
	padding: 10px 30px; 
	color: #ffffff;
	border: 2px solid white;
	outline: none;
	background: none;
	border-radius: 3%;
}
.price-log input::before {
	content: '';
	display:inline-block;
	width: 2px;
	height: 21px;
	background: white;
}
/* hotels-content */
.sort-line {
	border-bottom: solid 2px #e5e5e5;
	padding: 0 73px;
	background: #ffffff;	
}
.sort-by,
.sort-type,
.sort-type li {
	display: inline-block;
	font-size: 12px;
	line-height: 85px;
	text-transform: uppercase;
}
.found {
	display: inline-block;
	margin-right: 40px;
	font-size: 21px;
	line-height: 85px;
	text-transform: uppercase;
	font-weight: bold;
}
.sort-by {
	margin-right: 35px;
	font-weight: bold;
}
.sort-type li {
	margin-right: 35px;	
	line-height: 15px;
	color: #bbbbbb;
	border-bottom: dotted 1px #81b3d2;
}
.sort-type .sort-active  {
	color: #81b3d2; 
	border: none;
}
.sort-direction {
	float: right;
	font-size: 23px;
	line-height: 85px;
	color: #bbbbbb;
}
.sort-direction .active-dir{
	color: #81b3d2;
}
.result-line {
	padding: 30px 72px;
	border-bottom: solid 2px #e5e5e5;
	background: #ffffff;
}

.result-info,
.result-image {
	float: left;
	margin-right: 30px;
}
.result-info h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
}
.type-and-info {
	display: inline-block;
	margin-top: 5px;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #6d6d6d;
}
.type-and-info .info-btn,
.price-and-payment .pre-payment {
	display: block;
	width: 110px;
	height: 27px;
	margin-top: 11px;
	margin-right: 6px;
	line-height: 27px;
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
}
.price-and-payment {
	display: inline-block;
	margin-top: 5px;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #6d6d6d;
}
.price-and-payment .pre-payment {
	width: 142px;
	background: #766357;
}
.result-mark {
	float: right;
	font-size: 19px;
	text-align: right;
	color: #81b3d2;
}
.result-rate {
	display: block;
	width: 110px;
	height: 27px;
	margin-top: 35px;
	font-size: 14px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #666666;
	background: #f2f2f2;
}